#alter_box{
	margin-top:150px;
	margin-left:170px;
}
form{
	width:300px;
	margin:0 auto;
	padding:10px 40px;
	background-color:#fbfbfb;
	border:1px solid #c0c0c0;
	border-radius:5px;
}
form div{
	margin:10px 0;
}
form .title{
	font-size:18px;
	background:#efefef;
	border-radius:5px;
}
form .title img{
	vertical-align:middle;
	margin:0 10px;
}
label{
	float:left;
	width:4em;
	text-align:center;
}
input[type="button"],input[type="reset"]{
	padding:3px 12px;
}