@charset="utf-8";
*{
	font-family:"Microsoft YaHei";
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	*/
}
html{
	height:100%;   /*firefox*/
}
body{
	background:url(../image/background.jpg);
	margin:0;
	padding:0;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#abd9e7,endColorStr=#fafafa);  
	background:-moz-linear-gradient(top,#abd9e7,#fafafa);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#abd9e7), to(#fafafa));
	background-attachment:fixed;*/
}
textarea,select,input,label{
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 3px;
	outline:none;
	margin-right:10px;
}
textarea{
	resize:none;
	border-color:#c0c0c0;
	text-align:left;
}
select{
	/*color: #fff;
	background-color: #aa73c7;
	border-color: #a124db;*/
	border-color:#c0c0c0;
	margin-left:0;
}
input{
    background-color:#fff;
	border-color:#c0c0c0;
	color:#000;
	text-align:left;
	padding:7px 12px;
}
input[type="checkbox"]{
	margin:0;
	background-color:transparent;
	border:none;
}
input[type="radio"]{
	margin-top:-6px;
	margin-left:12px;
}
input[type="button"],input[type="submit"],input[type="reset"]{
	margin-left:12px;
	color: #fff;
}
select:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{
	outline: 5px auto #eb7a12/*-webkit-focus-ring-color*/;
    outline-offset: -2px;
	cursor:pointer;
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus{
	border-color: #30abc1;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-webkit-user-select: auto;
}
.button-success{
	/*background-color: #449d44;
	border-color: #398439;*/
	background-color: #30abc1;
	border-color: #14aeeb;
}
.button-failed{
	/*background-color: #cc4242;
	border-color: #e00e0e;*/
	background-color: #30abc1;
	border-color: #14aeeb;
}
option{
	background-color:#fff;
	color:#000;
}
hr{
	border:none;
	padding:1px;
}
.label{
	display:inline-block;
	width:300px;
}
.ratio,.score{
	width:50px;
	text-align:center;
}
.main-box{
	margin-left:170px;
}
.main{
	width:500px;
	margin:auto;
	padding:10px 5px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	background: #fbfbfb;
	border-radius:7px;
}
.main-table{
	margin:50px auto 80px;
}
.main_operate{
	float:left;
	width:80%;
	margin-left:10%;
	background-color:#dfdefe;
	border-top:1px solid #aaa;
}
.table-operate,i{
	float:left;
	font-size:14px;
	color:#235a81;
	height:20px;
	line-height:20px;
	margin:5px 20px 5px 0;
}
.main_operate img,.table-operate img{
	float:left;
	margin:2px 5px;
	opacity:0.6;
}
.table-operate input{
	float:left;
	margin:3.5px 5px;
}
.table-operate:hover{
	cursor:pointer;
	text-decoration:underline;
}
.main_operate i{
	color:#333;
	font-weight:600;
}