@charset="utf-8";
#spiritual_nav{
	border-right:3px solid #e6e677;
	color:#e6e677;
	text-shadow:1px 1px 1px #c29037;
}
#spiritual_appraisal_admin{
	margin-top:100px;
}
.main hr{
	width:100%;
	padding:0;
	clear:both;
}
.main label{
	width:4em;
	text-align:left;
	display:inline-block;
	margin-right:10px;
}
.main input[type="button"]{
	float:right;
	margin-top:10px;
}
.spiritual_content{
	background-color:#ececec;
	border:1px solid #cecece;
	border-radius:5px;
}
.float_content div{
	margin:10px 0;
	float:left;
}

